*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
#main{  
    display:flex;
}
#sidebar{
    height:100vh;
    width:45%;
    background-color: black;
}
#sign{
    height:100vh;
    width:55%;
    background:#eee9bc;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;

}
form{
    display:flex;
    flex-direction:column;
    align-items:center;
}
input[type="text"],input[type="password"],input[type="mail"]{
    width: 350px;
    height:50px;
    background-color:rgb(226, 224, 187);
    padding-left:5px;
    margin-top:10px;
    transition:transform 0.2s ease-in-out;
    font-size:20px;
    font-weight:100px;
    border-radius: 0.5rem   ;
}
input[type="text"]:hover,input[type="password"]:hover,input[type="mail"]:hover{
    transform:scale(1.11);
}
.check{
    display:flex;
    align-items:center;
    gap:10px;
    font-size:20px;
    margin-top:10px;
}
input[type-checkbox]{
    margin:0;
    padding:0;
    size:30px;
}
input[type="checkbox"]:hover{
    transform:scale(1.11);
}
button{
    width:350px;
    margin-top:10px;
    padding:12px;
    background:orange;
    font-size:18px;
     transition:transform 0.3s ease-in
}
button:hover{
       transform:scale(1.11);
}