#external{
    margin-top:30px;
    border-collapse: collapse;
    background-color: rgb(16, 245, 85);
    text-align: start;
    color: rgb(255, 12, 12);
    width: 700px;
    font-family: cursive;
}